includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor/*  # vendor 以下を解析対象から除外
    doctrine:
        allowNullablePropertyForRequiredField: true
