<div class="bg-light">
  <!-- Header -->
  <nav class="navbar navbar-light nav-white shadow-sm px-3">
    <span class="navbar-brand mb-0 h1">Header</span>
    <button class="btn btn-outline-secondary rounded-circle">👤</button>
  </nav>

  <div class="container py-5">
    <div class="card-wrapper">
      <button class="btn btn-primary btn-sm new-button">new</button>

      <button class="btn btn-outline secondary nav-button prev">◀</button>
      <button class="btn btn-outline secondary nav-button next">▶</button>
      <!-- Card -->
      <div class="card shadow-sm">
        <div class="card-header text-center fw-bold">2026-01-31</div>
        <div class="card-body text-center" style="min-height: 300px">
          <h4 class="text-muted">card</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<p>home works!</p>
<p><a routerLink="/user/list">View User List</a></p>
<p><a routerLink="/ingredient/list">ingredient form</a></p>
<p><a routerLink="/menu/list">menu form</a></p>
