<ng-container [formGroup]="form">
  <td>
    <input id="name_{{ ingredient?.id }}" type="text" class="form-control" formControlName="name" />
  </td>
  <td>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="isStock"
        id="isStock_{{ ingredient?.id }}"
      />
      <label for="isStock_{{ ingredient?.id }}" class="form-check-label">ストック有無</label>
    </div>
  </td>
  <td class="text-end">
    <div class="btn-group">
      <button class="btn btn-sm btn-outline-primary" type="submit" (click)="onSubmit()">
        保存
      </button>
      <button class="btn btn-sm btn-outline-secondary" (click)="cancel()">戻る</button>
    </div>
  </td>
</ng-container>
