<p>ingredient-form works!</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- name form -->
  <div>
    <label for="name">name</label>
    <input id="name" formControlName="name" type="text" />

    @if (form.get('name')?.invalid && form.get('name')?.touched) {
      <div>
        @if (form.get('name')?.hasError('required')) {
          <small>name is required</small>
        }
      </div>
    }

    @for (error of errorMessages?.['name'] | keyvalue; track $index) {
      <div>{{ error.value }}</div>
    }
  </div>

  <!-- isStock form -->
  <div>
    <label for="isStock">isStock</label>
    <input id="isStock" formControlName="isStock" type="checkbox" />

    @if (form.get('isStock')?.invalid && form.get('isStock')?.touched) {
      <div>
        @if (form.get('isStock')?.hasError('required')) {
          <small>name is required</small>
        }
      </div>
    }

    @for (error of errorMessages?.['isStock'] | keyvalue; track $index) {
      <div>{{ error.value }}</div>
    }
  </div>
  <button>材料を登録</button>
  <a routerLink="/ingredient/list">back to list</a>
</form>
