.btn-brown {
  color: white !important;

  background-color: #8b4513 !important;
  border-color: #8b4513 !important;

  &:hover {
    background-color: darken(#8b4513, 5%) !important;
  }
}

.ingredient-list {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #8b4513;
    border-radius: 10px;
  }

  max-height: 250px;
  overflow-y: auto;
  background: #fdfdfd;
}

.btn-check + .btn:hover {
  color: white;
  background-color: #ff865a;
  border-color: #ffa585;
}
